# 1. Introduction/Business Problem

<span style="font-family:verdana"><span style="font-size:18px">
The presence of parks, gardens and green open spaces in cities is fundamental for the health and the well-being of citizens; so much so that these areas are called "green lungs" of cities. For this reason, it could be interesting to study how much green a city is, especially huge metropolitan cities around the world. To this pourpose, I choose to compare an american metropolis, New York with an european one, London. 
The goal is to understand which of these two cities is greener and how green areas are scattered within each city. 
In order to compare New York and London, it is important to take into account also the size of each city in terms of inhabitant number and the extension of the territory.

# 2. Data

<span style="font-family:verdana"><span style="font-size:18px">
To solve the problem I will consider the following datas:
 

+ <span style="font-family:verdana"><span style="font-size:18px"> I found a list of London's parks and open spaces with its corrisponding extension mesured in hectares and acres on [Wikipedia](https://en.wikipedia.org/wiki/Parks_and_open_spaces_in_London).
    
+ <span style="font-family:verdana"><span style="font-size:18px"> Since there are not location datas on the above dataframe, I use **Forsquare API** to get the precise coordinates associated to each park in London.
    
+ <span style="font-family:verdana"><span style="font-size:18px"> On [NYC OpenData](https://nycopendata.socrata.com/City-Government/Parks-Zones/4j29-i5ry), I get a .json file with a complete and detailed dataframe containing all important features of New York green zones. I will clean this dataframe by extracting datas referring to parks, location and size.
    
+ <span style="font-family:verdana"><span style="font-size:18px">
The [**London region**](https://en.wikipedia.org/wiki/Greater_London#:~:text=The%20region%20covers%201%2C572%20km,areas%20outside%20the%20administrative%20region) forms the administrative boundaries of London and is organised into 33 local government districts, the 32 London boroughs and the City of London. The region covers **1,572 km2** and has a population of **8,982,000**.

+ <span style="font-family:verdana"><span style="font-size:18px">
[**New York City**](https://en.wikipedia.org/wiki/New_York_City) is composed of 5 boroughs, each of which is a county of the State of New York. The boroughs are: Brooklyn, Queens, Manhattan, the Bronx, and Staten Island. New York has an extension of **1,213.37 km2** with a population of **8,399,000**.

<span style="font-family:verdana"><span style="font-size:18px">
Thanks to *territory extension data*, by performing some statistic, one can calculate the total green extension present in London and New York. 
By above datas one can see that London and New York have a quite similar size. However, to be more precise, one have to consider the total green extension of each city in proportion with them size.
    
<span style="font-family:verdana"><span style="font-size:18px">
*Locations datas* will help to understand the green sparsity in New York and London. I think that the sparsity is important because if the green is well distribuited around the city, more people are able to access it.
To visualize this I will use Folium library.

<span style="font-family:verdana"><span style="font-size:18px">
Finally, by comparing the results obtained, it can be determined: which city has a greater extension of green areas (in proportion to its size), the percentage of green available for each citizen and how green is distributed within each city.
<span style="font-family:verdana"><span style="font-size:18px">
In this section I collect the above datas.

### Libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# BeautifulSoup
from bs4 import BeautifulSoup

#!conda install -c conda-forge folium=0.5.0 --yes 
#import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    ca-certificates-2020.4.5.1 |       hecc5488_0         146 KB  conda-forge
    openssl-1.1.1g             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.22.0               |     pyh9f0ad1d_0          63 KB  conda-forge
    certifi-2020.4.5.1         |   py36h9f0ad1d_0         151 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0           conda-forge
    geopy:           1.22.0-pyh9f0ad1d_0 conda-forge
    python_abi:      3.6-1_cp36m         conda-forge

The following packages will be UPDATED:

    ca-certificates: 2020.1.1-0                      --> 2020.4.5.1-hecc5488_0     conda-forge
    certifi:         2020.4.5.1-py36_0               --> 2020.4.5.1-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1g-h7b6447c_0               --> 1.1.1g-h516909a_0         conda-forge


Downloading and Extracting Packages
python_abi-3.6       | 4 KB      | ##################################### | 100%
ca-certificates-2020 | 146 KB    | ##################################### | 100%
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
geopy-1.22.0         | 63 KB     | ##################################### | 100%
certifi-2020.4.5.1   | 151 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

### Parks in London

<span style="font-family:verdana"><span style="font-size:18px">
Let's import from [Wikipedia page](https://en.wikipedia.org/wiki/Parks_and_open_spaces_in_London) a dataframe containing some of London green spaces.
To this pourpose I use BeautifulSoup.

In [2]:
req = requests.get("https://en.wikipedia.org/wiki/Parks_and_open_spaces_in_London")

soup = BeautifulSoup(req.content,'lxml')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))

london_parks = pd.DataFrame(df[0])

In [3]:
london_parks

                            name  hectares      acres
0                   Thames Chase      9842  24,320[8]
1                  Epping Forest      2476   6,118[9]
2    Wildspace Conservation Park       645  1,593[10]
3               Wimbledon Common       460  1,136[11]
4                Hampstead Heath       320    790[12]
5           Walthamstow Wetlands       211    520[13]
6                 Mitcham Common       182    450[14]
7                     Trent Park       169    418[15]
8   Hainault Forest Country Park       136    336[16]
9                 Clapham Common        89    220[17]
10               Wormwood Scrubs        80        200
11             Wandsworth Common        73        180
12            Tooting Bec Common        62        152
13    South Norwood Country Park        47    116[18]

<span style="font-family:verdana"><span style="font-size:18px">
The above dataframe is composed by three columns: name, hectares and acres. In the name column there are all the parks, in hectares and acres columns there are the size of each park resp. in hectares and acres.
Unfortunately, this dataframe is not complete. For this reason I need to fill manually the above dataframe with the remaining data from wikipedia.

In [4]:
# Add data from wikipedia

# Royal Parks
london_parks= london_parks.append({'name': 'Richmond Park','hectares': 955,'acres': 2359.85}, ignore_index=True)
london_parks = london_parks.append({'name': 'Bushy Park','hectares': 450,'acres': 1112}, ignore_index=True)
london_parks = london_parks.append({'name': 'Regent Park','hectares': 197,'acres': 486.79}, ignore_index=True)
london_parks = london_parks.append({'name': 'Hyde Park','hectares': 140,'acres': 346}, ignore_index=True)
london_parks = london_parks.append({'name': 'Kensington Gardens','hectares': 111,'acres': 274}, ignore_index=True)
london_parks = london_parks.append({'name': 'Greenwich Park','hectares': 73,'acres': 180}, ignore_index=True)
london_parks = london_parks.append({'name': 'St. James Park','hectares': 34,'acres': 84}, ignore_index=True)
london_parks = london_parks.append({'name': 'Green Park','hectares': 16,'acres': 39.5}, ignore_index=True)

# Council parks
london_parks = london_parks.append({'name': 'Victoria Park','hectares': 86.18,'acres': 213}, ignore_index=True)
london_parks = london_parks.append({'name': 'Battersea Park','hectares': 83,'acres': 205}, ignore_index=True)
london_parks = london_parks.append({'name': 'Crystal Palace Park','hectares': 80,'acres': 200}, ignore_index=True)
london_parks = london_parks.append({'name': 'Alexandra Park ','hectares': 80,'acres': 197.68}, ignore_index=True)
london_parks = london_parks.append({'name': 'Brockwell Park','hectares': 51,'acres': 126},ignore_index=True)

london_parks

                            name  hectares      acres
0                   Thames Chase   9842.00  24,320[8]
1                  Epping Forest   2476.00   6,118[9]
2    Wildspace Conservation Park    645.00  1,593[10]
3               Wimbledon Common    460.00  1,136[11]
4                Hampstead Heath    320.00    790[12]
5           Walthamstow Wetlands    211.00    520[13]
6                 Mitcham Common    182.00    450[14]
7                     Trent Park    169.00    418[15]
8   Hainault Forest Country Park    136.00    336[16]
9                 Clapham Common     89.00    220[17]
10               Wormwood Scrubs     80.00        200
11             Wandsworth Common     73.00        180
12            Tooting Bec Common     62.00        152
13    South Norwood Country Park     47.00    116[18]
14                 Richmond Park    955.00    2359.85
15                    Bushy Park    450.00       1112
16                   Regent Park    197.00     486.79
17                     Hyde Park    140.00        346
18            Kensington Gardens    111.00        274
19                Greenwich Park     73.00        180
20                St. James Park     34.00         84
21                    Green Park     16.00       39.5
22                 Victoria Park     86.18        213
23                Battersea Park     83.00        205
24           Crystal Palace Park     80.00        200
25               Alexandra Park      80.00     197.68
26                Brockwell Park     51.00        126

<span style="font-family:verdana"><span style="font-size:18px">
In order to have no problems in searching coordinates, let's simplify the name of Wildspace Conservation Park and Hainault Forest Country Park.

In [5]:
london_parks['name'][2]= 'Wildspace Park'
london_parks['name'][8]= 'Hainault Park'

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [6]:
london_parks

                          name  hectares      acres
0                 Thames Chase   9842.00  24,320[8]
1                Epping Forest   2476.00   6,118[9]
2               Wildspace Park    645.00  1,593[10]
3             Wimbledon Common    460.00  1,136[11]
4              Hampstead Heath    320.00    790[12]
5         Walthamstow Wetlands    211.00    520[13]
6               Mitcham Common    182.00    450[14]
7                   Trent Park    169.00    418[15]
8                Hainault Park    136.00    336[16]
9               Clapham Common     89.00    220[17]
10             Wormwood Scrubs     80.00        200
11           Wandsworth Common     73.00        180
12          Tooting Bec Common     62.00        152
13  South Norwood Country Park     47.00    116[18]
14               Richmond Park    955.00    2359.85
15                  Bushy Park    450.00       1112
16                 Regent Park    197.00     486.79
17                   Hyde Park    140.00        346
18          Kensington Gardens    111.00        274
19              Greenwich Park     73.00        180
20              St. James Park     34.00         84
21                  Green Park     16.00       39.5
22               Victoria Park     86.18        213
23              Battersea Park     83.00        205
24         Crystal Palace Park     80.00        200
25             Alexandra Park      80.00     197.68
26              Brockwell Park     51.00        126

## Forsquare to get the coordinates

In [7]:
CLIENT_ID = 'NX1WPC5VTHDOD00ZA5NJIMN3UO4QRCYU24LRXUU1SN1XOCN3' # your Foursquare ID
CLIENT_SECRET = 'YF5WPODSRDE0FVO4QXRABZSZCWDZ4S03SZMGT3A2JEWOU0GN' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: NX1WPC5VTHDOD00ZA5NJIMN3UO4QRCYU24LRXUU1SN1XOCN3
CLIENT_SECRET:YF5WPODSRDE0FVO4QXRABZSZCWDZ4S03SZMGT3A2JEWOU0GN

<span style="font-family:verdana"><span style="font-size:18px">
Let's create a new dataframe containing the coordinates of each park.

In [10]:
# define the dataframe columns
column_names = ['name','latitude','longitude'] 

# instantiate the dataframe
parks_coordinates = pd.DataFrame(columns=column_names)

In [12]:
# Fill the dataframe

for i in range(0,27):

 address= london_parks['name'][i]+', London'

 geolocator = Nominatim(user_agent="foursquare_agent")
 location = geolocator.geocode(address)
 latitude = location.latitude
 longitude = location.longitude

 parks_coordinates = parks_coordinates.append({'name': london_parks['name'][i] ,'latitude': latitude,'longitude': longitude}, ignore_index=True)

In [13]:
parks_coordinates

                          name   latitude  longitude
0                 Thames Chase  51.609674  -0.115491
1                Epping Forest  51.655222   0.172040
2               Wildspace Park  51.631335  -0.106465
3             Wimbledon Common  51.427074  -0.244198
4              Hampstead Heath  51.563982  -0.167187
5         Walthamstow Wetlands  51.586531  -0.049506
6               Mitcham Common  51.393623  -0.137502
7                   Trent Park  51.659165  -0.141826
8                Hainault Park  51.603316   0.093360
9               Clapham Common  51.462075  -0.137359
10             Wormwood Scrubs  51.521380  -0.240439
11           Wandsworth Common  51.448485  -0.167650
12          Tooting Bec Common  51.434508  -0.145276
13  South Norwood Country Park  51.396475  -0.056820
14               Richmond Park  51.438512  -0.274735
15                  Bushy Park  51.416935  -0.337109
16                 Regent Park  51.514186  -0.036568
17                   Hyde Park  51.507489  -0.162237
18          Kensington Gardens  51.506646  -0.180427
19              Greenwich Park  51.477228   0.000925
20              St. James Park  51.499282  -0.134594
21                  Green Park  51.506619  -0.142911
22               Victoria Park  51.539042  -0.034311
23              Battersea Park  51.479252  -0.157096
24         Crystal Palace Park  51.417595  -0.064800
25             Alexandra Park   51.593499  -0.127446
26              Brockwell Park  51.450680  -0.106149

<span style="font-family:verdana"><span style="font-size:18px">
I merge now the above dataframes: *london_parks* and *parks coordinates*.

In [14]:
df_london_parks = london_parks.merge(parks_coordinates)

In [15]:
df_london_parks

                          name  hectares      acres   latitude  longitude
0                 Thames Chase   9842.00  24,320[8]  51.609674  -0.115491
1                Epping Forest   2476.00   6,118[9]  51.655222   0.172040
2               Wildspace Park    645.00  1,593[10]  51.631335  -0.106465
3             Wimbledon Common    460.00  1,136[11]  51.427074  -0.244198
4              Hampstead Heath    320.00    790[12]  51.563982  -0.167187
5         Walthamstow Wetlands    211.00    520[13]  51.586531  -0.049506
6               Mitcham Common    182.00    450[14]  51.393623  -0.137502
7                   Trent Park    169.00    418[15]  51.659165  -0.141826
8                Hainault Park    136.00    336[16]  51.603316   0.093360
9               Clapham Common     89.00    220[17]  51.462075  -0.137359
10             Wormwood Scrubs     80.00        200  51.521380  -0.240439
11           Wandsworth Common     73.00        180  51.448485  -0.167650
12          Tooting Bec Common     62.00        152  51.434508  -0.145276
13  South Norwood Country Park     47.00    116[18]  51.396475  -0.056820
14               Richmond Park    955.00    2359.85  51.438512  -0.274735
15                  Bushy Park    450.00       1112  51.416935  -0.337109
16                 Regent Park    197.00     486.79  51.514186  -0.036568
17                   Hyde Park    140.00        346  51.507489  -0.162237
18          Kensington Gardens    111.00        274  51.506646  -0.180427
19              Greenwich Park     73.00        180  51.477228   0.000925
20              St. James Park     34.00         84  51.499282  -0.134594
21                  Green Park     16.00       39.5  51.506619  -0.142911
22               Victoria Park     86.18        213  51.539042  -0.034311
23              Battersea Park     83.00        205  51.479252  -0.157096
24         Crystal Palace Park     80.00        200  51.417595  -0.064800
25             Alexandra Park      80.00     197.68  51.593499  -0.127446
26              Brockwell Park     51.00        126  51.450680  -0.106149

### New York Parks

<span style="font-family:verdana"><span style="font-size:18px">
Let's download New York Parks dataframe and load the.json file from [NYC Open Data](https://nycopendata.socrata.com/City-Government/Parks-Zones/4j29-i5ry).

In [16]:
!wget -q -O 'newyork_parks.json' https://data.cityofnewyork.us/resource/4j29-i5ry.json
print('Data downloaded!')

Data downloaded!

In [17]:
with open('newyork_parks.json') as json_data:
    newyork_parks = json.load(json_data)

In [18]:
# let's explore the first data

newyork_parks[0]

{'acres': '2.27347393',
 'borough': 'B',
 'communityboard': '313',
 'councildistrict': '43',
 'department': 'B-13',
 'description': 'Dreier Offerman Park-Calvert Vaux',
 'gispropnum': 'B125',
 'location': 'Bay 46 & Cropsey Ave',
 'nys_assembly': '47',
 'nys_senate': '23',
 'omppropid': 'B125-01',
 'precinct': '60',
 'propname': 'Calvert Vaux Park',
 'retired': False,
 'sitename': 'Calvert Vaux Park Playground',
 'subcategory': 'Plgd Within Park',
 'us_congress': '11',
 'zipcode': '11214',
 'multipolygon': {'type': 'MultiPolygon',
  'coordinates': [[[[-73.99140943598985, 40.58775845097591],
     [-73.99140923879449, 40.587757908846136],
     [-73.99140824815159, 40.58775474163144],
     [-73.99140685824237, 40.58775166263823],
     [-73.99139483451481, 40.587733390119894],
     [-73.99138481376232, 40.587718164220924],
     [-73.99138219078924, 40.587714034224184],
     [-73.99137525839429, 40.58770312116221],
     [-73.99134501334551, 40.58765545328694],
     [-73.99131475652865, 40.587607777297954],
     [-73.99128504281865, 40.58756239767647],
     [-73.9912553291502, 40.58751700904193],
     [-73.99124961432058, 40.58750851847261],
     [-73.99123235764569, 40.587482883759755],
     [-73.99122548544916, 40.58747267400183],
     [-73.99119564178778, 40.587428338953835],
     [-73.99119253696243, 40.58742372893679],
     [-73.9911844755201, 40.58741175766152],
     [-73.99116578635378, 40.58738400389699],
     [-73.99113594277169, 40.58733966883311],
     [-73.99112702985859, 40.587326425949044],
     [-73.991118944821, 40.58731441234264],
     [-73.99110609923036, 40.587295324756084],
     [-73.99109208091889, 40.58727456660636],
     [-73.99108439388048, 40.587263184295196],
     [-73.9910781689066, 40.587253952546874],
     [-73.9910774484977, 40.58725294390472],
     [-73.99107668083882, 40.58725194426416],
     [-73.99107587774097, 40.58725096263129],
     [-73.99107502738957, 40.587250017015734],
     [-73.99107412978822, 40.58724908040168],
     [-73.99107319674671, 40.587248170800564],
     [-73.99107221645286, 40.587247288211486],
     [-73.9910712007189, 40.58724643263534],
     [-73.99107014954473, 40.58724560407217],
     [-73.9910690629304, 40.58724480252192],
     [-73.99106792906373, 40.58724402798366],
     [-73.9910667715691, 40.58724328045927],
     [-73.99106662747184, 40.587243194898356],
     [-73.99106557863314, 40.58724256895302],
     [-73.99106435025577, 40.58724189346498],
     [-73.99106309825044, 40.58724124499079],
     [-73.99106182261713, 40.58724062353044],
     [-73.99106051154125, 40.58724004709348],
     [-73.99105917683744, 40.58723949767036],
     [-73.99105781850442, 40.587238984266314],
     [-73.99105643536052, 40.58723851048335],
     [-73.991055042763, 40.587238065516416],
     [-73.99105361354127, 40.58723766917485],
     [-73.99105218431586, 40.587237299848965],
     [-73.99105073145996, 40.58723697644796],
     [-73.99104926678851, 40.587236678260645],
     [-73.99104777848537, 40.58723643500337],
     [-73.99104629017857, 40.5872362187618],
     [-73.99104480186574, 40.587236047546355],
     [-73.99104328992371, 40.587235912349996],
     [-73.99104177797692, 40.58723581317456],
     [-73.99104026602402, 40.587235759025255],
     [-73.9910387540663, 40.587235740896894],
     [-73.99103724210254, 40.58723576779467],
     [-73.99103573013399, 40.58723583071337],
     [-73.99103421816055, 40.58723592965296],
     [-73.99103271799325, 40.587236073619636],
     [-73.99103121782112, 40.587236253607216],
     [-73.99102972945634, 40.58723646961666],
     [-73.99102825289766, 40.587236730653146],
     [-73.99102678932698, 40.587237032214176],
     [-73.99102533520235, 40.587237360791626],
     [-73.99102390587669, 40.5872377388998],
     [-73.99102248835955, 40.58723814402456],
     [-73.9910210944607, 40.58723859417737],
     [-73.9910197123692, 40.58723908035198],
     [-73.99101836571064, 40.58723959354505],
     [-73.99101703322025, 40.58724015446694],
     [-73.99101573143858, 40.58724073700382],
     [-73.9910064819121, 40.58724505969295],
     [-73.9910064299352, 40.587245084002994],
     [-73.99100637323303, 40.587245111014255],
     [-73.99095511925415, 40.5872690906302],
     [-73.9908961360226, 40.587296695118155],
     [-73.99083714329362, 40.58732429237086],
     [-73.9907781599646, 40.58735189679815],
     [-73.99071916713802, 40.58737949399011],
     [-73.9906601837116, 40.58740709745617],
     [-73.99065433273653, 40.58740983457146],
     [-73.99060119196864, 40.58743469548803],
     [-73.99056265085815, 40.587452733414004],
     [-73.99054220844452, 40.58746229979391],
     [-73.9904832154231, 40.58748989596398],
     [-73.99046333174299, 40.58749919942321],
     [-73.99044911004125, 40.58750585401008],
     [-73.99042423180241, 40.587517493905445],
     [-73.9903652386824, 40.58754509721892],
     [-73.99034461192893, 40.58755474819734],
     [-73.99030625496434, 40.5875726941992],
     [-73.99024726174663, 40.58760029835251],
     [-73.99024356543997, 40.58760202794407],
     [-73.99018827793107, 40.58762789527208],
     [-73.9901292940657, 40.58765549936546],
     [-73.99007030070278, 40.58768309622351],
     [-73.99006023713089, 40.58768780599101],
     [-73.99005896722356, 40.58768840022658],
     [-73.99001131673988, 40.587710700256224],
     [-73.98995232327951, 40.587738297053555],
     [-73.98993879372404, 40.58774462925027],
     [-73.98989333921904, 40.58776590102552],
     [-73.98983434684234, 40.58779349776226],
     [-73.98980073375775, 40.58780922782666],
     [-73.98978927737903, 40.58781458942565],
     [-73.98977536150319, 40.587821101673434],
     [-73.98976336407915, 40.58782671266659],
     [-73.98973522281126, 40.58783987490664],
     [-73.98971636784785, 40.58784869744882],
     [-73.98971514278618, 40.58784951861641],
     [-73.98971394607037, 40.58785036320016],
     [-73.98971278833073, 40.587851236604166],
     [-73.98971167783465, 40.587852146033306],
     [-73.98971060276989, 40.58785309148656],
     [-73.9897095749515, 40.58785405495446],
     [-73.98970859437811, 40.587855045442275],
     [-73.98970764923749, 40.58785606294898],
     [-73.9897067631541, 40.58785710747669],
     [-73.98970592431711, 40.58785817001908],
     [-73.98970512091283, 40.5878592595803],
     [-73.98970438837954, 40.587860367158356],
     [-73.98970369128033, 40.58786149275008],
     [-73.98970305323982, 40.587862636357535],
     [-73.98970246244572, 40.58786379797967],
     [-73.98970193071038, 40.58786497761758],
     [-73.98970144622278, 40.587866166264966],
     [-73.98970102079527, 40.58786736392287],
     [-73.98970065442646, 40.587868579596496],
     [-73.98970034711776, 40.58786980428069],
     [-73.98970008705824, 40.587871028969104],
     [-73.98969988605884, 40.58787226266804],
     [-73.98969973230726, 40.58787350537642],
     [-73.98969964942947, 40.58787474809122],
     [-73.98969961380088, 40.58787599081021],
     [-73.98969963723381, 40.58787723353447],
     [-73.98969971972824, 40.58787847626408],
     [-73.9896998612842, 40.58787971899898],
     [-73.98970006190305, 40.58788095273391],
     [-73.98970031804085, 40.58788217926965],
     [-73.98970061670352, 40.58788340220706],
     [-73.98970076546202, 40.587883898408755],
     [-73.98970098269741, 40.58788461794639],
     [-73.98970139594334, 40.58788581567943],
     [-73.98970186825079, 40.58788701341779],
     [-73.98970239962388, 40.58788818414576],
     [-73.98970297824765, 40.587889345872725],
     [-73.98970361593435, 40.587890498599684],
     [-73.98970430087446, 40.587891624315226],
     [-73.9897050330666, 40.58789273202453],
     [-73.98970582432165, 40.58789383073388],
     [-73.98970666283152, 40.58789489342651],
     [-73.98971149314985, 40.587900829208365],
     [-73.9897421757321, 40.587938519753216],
     [-73.989777535147, 40.587981962348394],
     [-73.98981289224626, 40.58802539952913],
     [-73.989816726991, 40.588030109606],
     [-73.98984824348565, 40.58806883489724],
     [-73.98988360185729, 40.588112277459146],
     [-73.98991896027594, 40.588155713706264],
     [-73.98992073416201, 40.58815789402882],
     [-73.98992078966974, 40.58815796247345],
     [-73.98992592236652, 40.58816426838774],
     [-73.98995291450917, 40.58819743432267],
     [-73.98995431047194, 40.588199149941644],
     [-73.98995523048467, 40.588200280178825],
     [-73.9899757790187, 40.58822552724344],
     [-73.98997750212484, 40.58822764452402],
     [-73.98998966898158, 40.588242592470316],
     [-73.99001694935774, 40.58827610421604],
     [-73.99002502871944, 40.58828602868443],
     [-73.99002890482991, 40.588290789186935],
     [-73.99006038732209, 40.58832946488731],
     [-73.99007112282258, 40.58834261255496],
     [-73.99007275853981, 40.588344617261114],
     [-73.990076628754, 40.588349357049495],
     [-73.99008085563763, 40.58835453542338],
     [-73.99009289027232, 40.588369278027855],
     [-73.99009359889276, 40.588370106570316],
     [-73.99009434295306, 40.58837091710543],
     [-73.99009513426695, 40.58837170062891],
     [-73.9900959492083, 40.58837246614395],
     [-73.99009629644726, 40.58837277145129],
     [-73.99009679958951, 40.58837321365159],
     [-73.99009768541192, 40.588373934146546],
     [-73.99009860667414, 40.588374636634086],
     [-73.99009956337746, 40.588375313009536],
     [-73.9901005437112, 40.588375951564984],
     [-73.99010154767093, 40.588376582017794],
     [-73.9901025870732, 40.58837717645269],
     [-73.99010365010426, 40.58837774387394],
     [-73.99010473676542, 40.58837827527625],
     [-73.99010584705408, 40.58837878867016],
     [-73.9901069809729, 40.588379266045074],
     [-73.9901081385205, 40.588379716406386],
     [-73.99010931969823, 40.58838013074878],
     [-73.99011051269233, 40.58838051807646],
     [-73.99011171750288, 40.58838087838947],
     [-73.99011294594357, 40.58838120268357],
     [-73.99011418620198, 40.58838149095776],
     [-73.9901154382768, 40.588381752217224],
     [-73.99011670216929, 40.588381977456756],
     [-73.99011797787958, 40.58838216667636],
     [-73.99011925359518, 40.588382319875045],
     [-73.99012054112718, 40.588382446059015],
     [-73.99012184047687, 40.58838253622305],
     [-73.99012312801955, 40.588382590365136],
     [-73.99012442737994, 40.588382608487294],
     [-73.99012572674432, 40.58838259959372],
     [-73.99012702611537, 40.58838254567397],
     [-73.99012831367797, 40.588382464737485],
     [-73.99012960124593, 40.588382347780104],
     [-73.99013088881922, 40.58838219480171],
     [-73.9901321645841, 40.58838201480663],
     [-73.99013342854185, 40.58838179878959],
     [-73.99013468069256, 40.58838154675057],
     [-73.99013592103623, 40.588381258689594],
     [-73.99013714957145, 40.588380943611924],
     [-73.9901383662996, 40.58838059251227],
     [-73.99013957121927, 40.58838021439588],
     [-73.99014074070715, 40.58837980025554],
     [-73.99014191019899, 40.58837935909946],
     [-73.99014304425764, 40.58837889092468],
     [-73.99014416650905, 40.58837838762841],
     [-73.99015240031375, 40.588374533194155],
     [-73.99015338317233, 40.588374074011554],
     [-73.99019288179105, 40.58835560945801],
     [-73.99020565303793, 40.58834963917743],
     [-73.99026378811466, 40.588322446513864],
     [-73.99032193141353, 40.58829524841831],
     [-73.99038006521538, 40.588268048491415],
     [-73.99043820841864, 40.588240856640596],
     [-73.99049008942625, 40.58821658193761],
     [-73.9904928265328, 40.58821530161994],
     [-73.9904963421257, 40.58821365755525],
     [-73.9905518627202, 40.58818767303157],
     [-73.99060738327162, 40.58816168758043],
     [-73.99063929879803, 40.58814674870226],
     [-73.9906416094452, 40.588145667362],
     [-73.99066289551097, 40.588135703902836],
     [-73.99069118438575, 40.58812246400289],
     [-73.99070497856022, 40.588116007466965],
     [-73.99071841597596, 40.5881097183979],
     [-73.99072534082161, 40.588106477973696],
     [-73.99077393639763, 40.58808373376665],
     [-73.99082944732626, 40.58805774910775],
     [-73.99088496884279, 40.58803176442282],
     [-73.9909404796851, 40.58800577880959],
     [-73.99098447984483, 40.587985086443524],
     [-73.99099699343012, 40.58797920070375],
     [-73.99105350713012, 40.587952622570086],
     [-73.99111001960294, 40.58792605161259],
     [-73.99116653321298, 40.58789947342319],
     [-73.99122304559597, 40.58787290150948],
     [-73.9912795591161, 40.58784632326432],
     [-73.99131747300069, 40.58782848946994],
     [-73.99133606314132, 40.58781974499064],
     [-73.99135175318402, 40.58781235827921],
     [-73.99137632187961, 40.58780079200305],
     [-73.99138947802403, 40.58779459738916],
     [-73.99139053174406, 40.58779410127978],
     [-73.99139174848628, 40.58779350702552],
     [-73.99139295342192, 40.58779286774421],
     [-73.99139412292308, 40.587792210449834],
     [-73.99139525699313, 40.58779150812655],
     [-73.99139636744091, 40.58779078779102],
     [-73.99139744245528, 40.58779004043715],
     [-73.99139848203737, 40.58778925705968],
     [-73.99139948618495, 40.58778845566907],
     [-73.99140045490027, 40.587787618254914],
     [-73.99140138818103, 40.58778676282756],
     [-73.9914022742161, 40.587785880381],
     [-73.99140312481664, 40.5877849799213],
     [-73.99140393998373, 40.58778405244325],
     [-73.99140470790394, 40.587783106951214],
     [-73.99140542857735, 40.58778214344515],
     [-73.99140611381621, 40.58778116192597],
     [-73.99140675180823, 40.58778016239277],
     [-73.9914073425534, 40.587779144845605],
     [-73.9914078860506, 40.58777811828964],
     [-73.991407909682, 40.58777806516052],
     [-73.99140838230093, 40.58777707371969],
     [-73.99140884311556, 40.58777602014182],
     [-73.99140924487108, 40.587774948549075],
     [-73.99140959937861, 40.58777386794762],
     [-73.99140991844922, 40.58777278734346],
     [-73.99141017846078, 40.58777168872443],
     [-73.99141037586728, 40.58777059010068],
     [-73.99141054492533, 40.58776948246968],
     [-73.99141066319063, 40.5877683748348],
     [-73.9914107223945, 40.58776726719551],
     [-73.99141073435041, 40.58776615054746],
     [-73.99141069905603, 40.587765042901154],
     [-73.99141060470025, 40.58776393525039],
     [-73.99141047490761, 40.587762827596976],
     [-73.99141027778496, 40.587761719938534],
     [-73.99141025889938, 40.5877616109738],
     [-73.99141004994925, 40.58776062128305],
     [-73.99140976659471, 40.587759531628635],
     [-73.99140943598985, 40.58775845097591]]]]}}

<span style="font-family:verdana"><span style="font-size:18px"> I will transform the above datas in a dataframe called *new york parks*.

In [19]:
# define the dataframe columns
column_names = ['name','acres', 'latitude', 'longitude'] 

# instantiate the dataframe
newyork_parks_2 = pd.DataFrame(columns=column_names)

In [22]:
for data in newyork_parks:
    for i in range(1736): #
    
        site = data['sitename']
        #acres = data['acres']
        lat= data['multipolygon']['coordinates'][0][0][0][0]
        long= data['multipolygon']['coordinates'][0][0][0][1]
    #location = data['location']
    #borough = data['borough'] 
    
        
    #neighborhood_latlon = data['multipolygon']['coordinates']
    #neighborhood_lat = neighborhood_latlon[0]
    #neighborhood_lon = neighborhood_latlon[1]
    
    newyork_parks_2 = newyork_parks_2.append({'name': site,'acres': acres,'latitude': lat, 'longitude': long}, ignore_index=True)
    
    #newyork_parks_2 = newyork_parks_2.append({'Acres': acres,'Site Name': site,
                                              #'Location': location,
                                              #'Borough': borough}, ignore_index=True)

In [23]:
# Let's see the first 5 rows of the dataframe

newyork_parks_2.head()

                           name       acres   latitude  longitude
0  Calvert Vaux Park Playground  2.27347393 -73.991409  40.587758
1       World's Fair Playground  2.68940812 -73.845859  40.736499
2          Charybdis Playground  1.05413028 -73.922926  40.779626
3              Northwest Corner  6.37607361 -73.956657  40.799940
4              Mullaly Plgd (2)  0.29690903 -73.923352  40.834063